<h2 mat-dialog-title>Login</h2>
<div class="loginForm">
  <div class="emailInput">
    <mat-form-field [floatLabel]="auto">
      <mat-label>Enter your email address</mat-label>
      <input matInput placeholder="Email" [formControl]="email" required>
      <mat-error *ngIf="email.invalid">{{getEmailErrorMessage()}}</mat-error>
    </mat-form-field>
  </div>
  <div class="passwordInput">
    <mat-form-field [floatLabel]="auto">
      <mat-label>Enter your password</mat-label>
      <input matInput placeholder="Password" [formControl]="password" required>
      <mat-error *ngIf="password.invalid">{{getPasswordErrorMessage()}}</mat-error>
    </mat-form-field>
  </div>
  <div class="submitButton">
    <button mat-raised-button color="warn" [disabled]="getLoginDisabledValue()">Login
    </button>
  </div>
</div>